@page "/"

<PageTitle>Index</PageTitle>

<LoadingIndicator IsLoading="IsBusy"></LoadingIndicator>

<ul class="list-group">
    @foreach (var singleChatMessage in this.ChatMessages)
    {
        <li class="list-group-item">@singleChatMessage.Role - @singleChatMessage.Content</li>
    }
</ul>

@if (ShowListenButton)
{
    <button type="button" class="btn btn-primary" @onclick="OnListenButtonClickedAsync">Listen</button>
}
@Error